In [33]:
import pandas as pd

In [34]:
#importing data
df = pd.read_csv('Combined_LCA_Disclosure_Data_FY2020_to_FY2024.csv', low_memory=False)
df.head(5)

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-19268-393467,Certified,2019-09-25,2019-10-01,NaN,H-1B,"APPLICATION ENGINEER, OMS [15-1199.02]",15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,...,N,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-200-19268-638983,Certified,2019-09-25,2019-10-01,NaN,H-1B,BI DEVELOPER II,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Y,...,N,Y,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
2,I-200-19268-177184,Certified,2019-09-25,2019-10-01,NaN,H-1B,QUALITY ENGINEER,17-2141,MECHANICAL ENGINEERS,Y,...,N,Y,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-19268-936403,Certified,2019-09-25,2019-10-01,NaN,H-1B,"SOFTWARE DEVELOPER, APPLICATIONS",15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Y,...,N,Y,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
4,I-200-19268-394079,Certified,2019-09-25,2019-10-01,NaN,H-1B,QUALITY ENGINEER LEVEL II,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,...,N,Y,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,LEGAL@THEEGIANTS.COM

In [35]:
#overview
df.describe()

,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_PHONE_EXT,NAICS_CODE,EMPLOYER_POC_PHONE_EXT,AGENT_ATTORNEY_PHONE,AGENT_ATTORNEY_PHONE_EXT,WORKSITE_WORKERS,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,PREVAILING_WAGE,PW_OTHER_YEAR,TOTAL_WORKSITE_LOCATIONS
count,18301.000000,18301.000000,18301.000000,18301.000000,18301.000000,18301.000000,18301.000000,1.069000e+03,1.830100e+04,1.302000e+03,1.171100e+04,1.100000e+03,6967.000000,1.830100e+04,7.292000e+03,17342.000000,327.000000,6967.000000
mean,1.441287,0.254084,0.451615,0.132179,0.011256,0.324026,0.269712,9.834654e+03,4.462228e+05,7.846906e+03,9.627536e+09,1.027863e+04,1.460600,1.007602e+05,1.172509e+05,90121.069975,2018.767584,1.147983
std,3.388394,1.262371,1.050433,0.767839,0.162239,0.911149,0.868285,2.174982e+05,1.993126e+05,1.965972e+05,1.653588e+10,6.766033e+04,3.712248,4.861357e+04,5.870082e+04,35697.096036,0.641931,0.507258
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.111000e+03,0.000000e+00,1.415806e+09,0.000000e+00,1.000000,9.750000e+00,1.350000e+01,8.260000,2014.000000,1.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,4.541110e+05,2.700000e+01,4.153982e+09,1.030000e+02,1.000000,7.899800e+04,9.000000e+04,74906.250000,2019.000000,1.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.150000e+02,5.415110e+05,2.020000e+02,8.178773e+09,2.010000e+02,1.000000,9.532600e+04,1.104375e+05,90480.000000,2019.000000,1.000000
75%,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.056000e+03,5.415120e+05,1.249000e+03,1.408919e+10,3.030000e+02,1.000000,1.202040e+05,1.420000e+05,109335.500000,2019.000000,1.000000
max,50.000000,50.000000,15.000000,15.000000,5.000000,15.000000,15.000000,7.002824e+06,5.698555e+06,7.002824e+06,9.197273e+11,2.108820e+06,50.000000,1.450000e+06,1.100000e+06,334600.000000,2019.000000,10.000000

In [36]:
#checking for missing value
df.isnull()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,False,False,False,False,True,False,False,False,False,False,...,False,True,True,True,False,True,True,True,True,True
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,True,True,True,True
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,True,True,True,True
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,True,True,True,True
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18297,False,False,False,False,True,False,False,False,False,False,...,False,True,True,True,False,True,True,True,True,True
18298,False,False,False,False,True,False,False,False,False,False,...,False,True,True,True,False,True,True,True,True,True
18299,False,False,False,False,True,False,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
18300,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
18301,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True